/*this will be the css of the page it self*/

:root {
    box-sizing: border-box;
    background-color: #111a24;
    font-size: 10px;
    margin: 0;

    animation-duration: 30s;
    animation-name: backgroundOfPage;
    animation-iteration-count: infinite;
    animation-direction: normal;
    overflow-y: scroll;
    overflow-x: hidden;
}

@keyframes backgroundOfPage {
    /*should be a snowflake background*/
    from {
        background-color: #111a24;
    }
    to {
        background-color: yellow;
    }
}

* {
    box-sizing: border-box;
    font-size: sans-serif, Arial;
    margin: 0;
    padding: 0;
    color: #ff652f;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4.5rem;
    color: #ffe400;
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

/* only page it self */
.headOfPage
{
    display: block;
    height: 10rem;
}

.navcontainer
{
    position: fixed;
    z-index: 1000;
    background-color: #5e5e5f;
    padding: 2rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: 3rem;
    
    transition: all 0.6s ease;
}

.navcontainer.activeNav
{
    width: 50%;
}

.navcontainer ul
{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: all 0.6s ease;
}

.navcontainer.activeNav ul
{
    width: 100%;
}

.navcontainer ul li
{
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease;
}

.navcontainer.activeNav ul li
{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.3s;
    transition: all 0.5s ease;
}

.navcontainer.activeNav ul a:hover
{
    color: yellow;
}

nav ul a
{
    position: relative;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 2rem;
    display: flex;
    text-align: center;
   
}

.navIcon
{
    background-color: #5e5e5f;
    border: 0;
    cursor: pointer;
    position: relative;
    height: 3rem;
    width: 3rem; 
    transition: all 0.6s ease;
}

.navIcon:focus
{
    outline: none;
}

.navIcon .line
{
    background-color: #ff652f;
    height: 0.2rem;
    width: 2rem;
    position: absolute;
    top: 1rem;
    transition: transform 0.6 ease;
}

.navIcon:hover
{
    transform: scale(1.5);
}

.navIcon .line2
{
    top: auto;
    bottom: 1rem;
}

.navcontainer.activeNav .navIcon .line1
{
    transform: rotate(-765deg) translateY(0.55rem);
}

.navcontainer.activeNav .navIcon .line2
{
    transform: rotate(765deg) translateY(-0.55rem);
}

.CVBody
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 90%;
}

.container
{
    /* used to wrap the indivudial bits of the cv */
    width: 100%;
    background-color: #5e5e5f;

    margin-bottom: 2rem;
    border-radius: 1rem;

    padding: 1rem;

    font-size: 2rem;
}

.containerTitle
{
    width: 50%;
    text-align: center;
    border-bottom: 0.1rem solid #ff652f;
    margin: 1rem 25% 2rem ;
    display: flex;
    text-align: center;
    justify-content: center;
}

.skillsBack
{
    /* used to show the skills in cv */

    margin: 0rem 10% 0rem;

   
}

.skillsbackLines
{
    background-color: #5e5e5f;
    background-image: linear-gradient(
        to right,
        #5e5e5f 100px,

        #5e5e5f 18.5%,
        white 19%,
        #5e5e5f 19.5%,

        #5e5e5f 39.5%,
        white 40%,
        #5e5e5f 40.5%,

        #5e5e5f 59.5%,
        white 60%,
        #5e5e5f 60.2%,

        #5e5e5f 79.5%,
        white 80%,
        #5e5e5f 80.2%,

        #5e5e5f 99.5%,
        white 100%
    );
}

.skill
{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.skillText
{
    padding: 0;
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: white;

    border-bottom: 0.1rem white solid;
}

.statbar
{
    margin: .2rem .2rem .2rem;
    width: 50%;
    background-color: #ff652f;
    height: 2rem;
    border-radius: 1rem;
    text-align: end;
    color: yellow;
    padding-right: 1rem;
}

.barBack
{
    width:100%;
    background-color: #111a24;
    border: 0.1rem solid #ff652f;
    border-radius: 1rem;
    height: 2.6rem;
    margin-left: 1rem;

    margin-top: auto;
    margin-bottom: auto;
}

.distinction
{
    background-color:  yellow;
    color: #ff652f;
}

.skillsBack ul
{
    list-style: none;
}

.skillsBack ul li
{
   text-align: center;
   padding-bottom: 1rem;
   color: white;
}

.Downloadable
{
    display: block;
    background-color: white;
    width: max-content;
    height: 100px;
    align-self: center;
    border-radius: 1rem;
    transition: background-color 0.6s ease;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.Downloadable:hover
{
    background-color: yellow;
}

.ExamplesContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 90%;
}



/* page it self and can be used for other elements of the page centering in a element would be an example*/

.flex-center-column {
    /*column*/
    display: flex;
    flex-direction: column;

    /*center*/
    justify-content: center;
    align-items: center;
}

.flex-row {
    /*column*/
    display: flex;
    flex-direction: row;
    /*center*/
    justify-content: start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}
