/* This will contain the main css for all example pages hosted in on the main page */
/* use this as the bais for all example css pages so hover and click responce */

.Example {
    /* use this as marker that this is a example do not ever remove this class */
    background-color: #0b0c10;
    border-radius: 1rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    margin: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transform: translateX(200%);

    transition: all 0.5s linear;
}

.Example:nth-last-of-type(even) {
    transform: translateX(-200%);
}

.Example.show {
    transform: translateX(0);
}

.ExampleContainer {
    transition: width 0.5s linear, height 0.5s linear, transform 0.4s ease-out;
    width: 50%;
    height: 20vh;
    min-width: 20rem;
}

.ExampleContainer:hover {
    background-color: aqua;
    width: 52%;
}

.ActiveExampleContainer {
    transition: width 0.5s linear, height 0.5s linear, transform 0.4s ease-out;
    width: 100vw;
    height: 90vh;
}

.ActiveExampleContainer.ExampleContainer:hover {
    background-color: aqua;
    width: 100vw;
}

.ExamplePageHead {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: #c5c6c786;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    transition: height 0.2s linear;
}

.ActiveExampleContainer .ExamplePageHead {
    height: 3rem;
}

.ExamplePageBody {
    transition: opacity 0.5s ease;
    transition-delay: opacity 0.5s;
    width: 100%;
    background-color: white;
    opacity: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.ActiveExampleContainer .showExamplePageBody {
    height: 100%;
    opacity: 1;

    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
