/* This will contain the main css for all example pages hosted in on the main page */
/* use this as the bais for all example css pages so hover and click responce */

.ExampleContainer {
  width: 10rem;
  height: 5rem;
  background-color: yellow;
  border-radius: 1rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 1rem;
}

.ExampleContainer:hover {
  background-color: aqua;
}
