/*this will be the css of the page it self*/

:root {
    box-sizing: border-box;
    background-color: #111a24;
    font-size: 10px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}


* {
    box-sizing: border-box;
    font-size: sans-serif, Arial;
    margin: 0;
    padding: 0;
    color: #ff652f;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4.5rem;
    color: #ffe400;
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

/* only page it self */
.headOfPage
{
    display: block;
    height: 10rem;
}

.navcontainer
{
    position: fixed;
    z-index: 1000;
    background-color: #5e5e5f;
    padding: 2rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: 3rem;
    
    transition: all 0.6s ease;
}

.navcontainer.activeNav
{
    width: fit-content;
    min-width: 50%;
    transition: all 0.6s ease;
}

.navcontainer ul
{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: all 0.6s ease;
}

.navcontainer.activeNav ul
{
    width: 100%;
    transition: all 0.6s ease;
}

.navcontainer ul li
{
    transform: scale(0);
    opacity: 0;
    transition: all 0.6s ease;
}

.navcontainer.activeNav ul li
{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.3s;
    transition: all 0.6s ease;
}

.navcontainer.activeNav ul a:hover
{
    color: yellow;
    transition: all 0.6s ease;
}

nav ul a
{
    position: relative;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 2rem;
    display: flex;
    text-align: center;
   
}

.navIcon
{
    background-color: #5e5e5f;
    border: 0;
    cursor: pointer;
    position: relative;
    height: 3rem;
    width: 3rem; 
    transition: all 0.6s ease;
}

.navIcon:focus
{
    outline: none;
}

.navIcon .line
{
    background-color: #ff652f;
    height: 0.2rem;
    width: 2rem;
    position: absolute;
    top: 1rem;
    transition: transform 0.6 ease;
}

.navIcon:hover
{
    transform: scale(1.5);
}

.navIcon .line2
{
    top: auto;
    bottom: 1rem;
}

.navcontainer.activeNav .navIcon .line1
{
    transform: rotate(-765deg) translateY(0.55rem);
    transition: all 0.6s ease;
}

.navcontainer.activeNav .navIcon .line2
{
    transform: rotate(765deg) translateY(-0.55rem);
    transition: all 0.6s ease;
}

.CVBody
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 90%;
}

.container
{
    /* used to wrap the indivudial bits of the cv */
    width: 100%;
    background-color: #5e5e5f;

    margin-bottom: 2rem;
    border-radius: 1rem;

    padding: 1rem;

    font-size: 2rem;

    transform: translateX(200%);
    transition: transform 0.5s linear;
}

.container:nth-last-of-type(even) {
    transform: translateX(-200%);
}

.container.show {
    transform: translateX(0);
}

.containerTitle
{
    width: 50%;
    text-align: center;
    border-bottom: 0.1rem solid #ff652f;
    margin: 1rem 25% 2rem ;
    display: flex;
    text-align: center;
    justify-content: center;
}

.skillsBack
{
    /* used to show the skills in cv */

    margin: 0rem 10% 0rem;

   
}

.skillsbackLines
{
   
    background-color: #5e5e5f;
    background-image: linear-gradient(
        to right,

        
        white 0%,
        #5e5e5f 0.5%,

        #5e5e5f 19.5%,
        white 20%,
        #5e5e5f 20.5%,

        #5e5e5f 39.5%,
        white 40%,
        #5e5e5f 40.5%,

        #5e5e5f 59.5%,
        white 60%,
        #5e5e5f 60.5%,

        #5e5e5f 79.5%,
        white 80%,
        #5e5e5f 80.5%,

        #5e5e5f 99.5%,
        white 100%
    );
}

.Beginner
{
    background-color: #ff652f;
    background-image: repeating-linear-gradient(
        to right,
        
        #111a24 0%,
        #111a24 25%,
        #ff652f 50%,
        #111a24 75%,
        #111a24 100%
    );
}

.Elementray
{
    background-color: #ff652f;
    background-image: repeating-linear-gradient(
        to right,
        
        #111a24 0%,
        #111a24 12.5%,
        #ff652f 25%,
        #111a24 37.5%,
        #111a24 50%
    );

}

.Intermadiate
{
    background-color: #ff652f;
    background-image: repeating-linear-gradient(
        to right,
        
        #111a24 0%,
        #111a24 8.25%,
        #ff652f 16.5%,
        #111a24 24.75%,
        #111a24 33.33%
    );

}

.Advanced
{
    background-color: #ff652f;
    background-image: repeating-linear-gradient(
        to right,
        
        #111a24 0%,
        #111a24 6.25%,
        #ff652f 12.5%,
        #111a24 18.75%,
        #111a24 25%
    );
}

.Expert
{
    background-color: #ff652f;
    background-image: repeating-linear-gradient(
        to right,
        
        #111a24 0%,
        #111a24 5%,
        #ff652f 10%,
        #111a24 15%,
        #111a24 20%
    );
}

.skill
{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.skillText
{
    padding: 0;
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: white;

    border-bottom: 0.1rem white solid;
}

.statbar
{
    margin: .2rem .2rem .2rem;
    background-color: #ff652f;
    height: 2rem;
    border-radius: 1rem;
    text-align: end;
    color: yellow;
    padding-right: 1rem;
    transition: opacity 2s linear;
    opacity: 0;

    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    
}

.container.show .barBack .statbar
{
    opacity: 1;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.barBack
{
    width:100%;
    background-color: #111a24;
    border: 0.1rem solid #ff652f;
    border-radius: 1rem;
    height: 2.6rem;

    margin-top: auto;
    margin-bottom: auto;
}

.skillsBarHeading
{
    display: flex;
    margin-left: 15rem;
    width: 100%;
}

.skillsBarHeading label
{
    width: 20%;
    text-align: center;

    color: yellow;
    word-wrap: break-word;
}

.skillsTextContainer
{
    padding-top: 2rem;
    width: 15rem;
    letter-spacing: 0.1rem;
    text-overflow: inherit;
    display: inline;
}

.skillsBarContainer
{
    padding-top: 2rem;
    vertical-align: top;
    width:100%;
   
}

.skillsBackAlign
{
    display: flex;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}

.skillsBarSpaceBottom
{
    margin-bottom: 1rem;
}

.skillsTextSpaceBottom
{
    height: 2.6rem;
    margin-bottom: 1rem;
}


.skillList
{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.distinction
{
    background-color:  yellow;
    color: #ff652f;
}

.skillsBack ul
{
    list-style: none;
}

.skillsBack ul li
{
   text-align: center;
   padding-bottom: 1rem;
   color: white;
}

.Downloadable
{
    display: block;
    background-color: white;
    width: max-content;
    height: 100px;
    align-self: center;
    border-radius: 1rem;
    transition: background-color 0.6s ease;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.Downloadable:hover
{
    background-color: yellow;
}

.profilelink
{
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

.profilelink:hover
{
    color: yellow;
}

.ExamplesContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 90%;
}

.gitHubProfileContainer
{
    display: flex;
    width: 80%;
    margin: 0 10% 0;
    justify-content: center;
    align-items: center;
}

.gitHubProfileImage
{
    min-width: 15rem;
    width: 10%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1rem 0;

    background-color: #111a24;
}

.gitHubProfileImage img
{
    width: 100%;
}

.gitHubProfileInfo
{
    padding: 2rem;
    width: 60%;
}

.gitHubUserName
{
    color: yellow;
}

.gitHubBio
{
    color: white;
    margin-bottom: 1rem;
}

.gitHubStats
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 50rem;
    padding: 0;
}

.gitHubStats li
{
    padding-right: 0.5rem;
}

.gitHubStats li strong
{
    margin-left: 0.1rem;
    font-size: 1.8rem;
}

.gitHubRepos
{
    margin-top: 2rem;
}

.repo
{
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem;
    background-color: #111a24;
    margin-top: 1rem;
    color: white;
    border-radius: 1rem;

    transition: all 0.5s ease;

    font-size: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
}

.repo:hover
{
    color: yellow;
    padding: 0.5rem 1.5rem 0.5rem;
}

.backGroundOfPage
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #111a24;
    background-image: radial-gradient(ellipse at top, #111a24, transparent),
                      radial-gradient(ellipse at left, #662c17, transparent),
                      radial-gradient(ellipse at right, rgb(95, 95, 1), transparent),
                      radial-gradient(ellipse at bottom, #5e5e5f, transparent);
                      
    overflow: hidden;
}

.box div{
    position:absolute;
    width: 2rem;
    height: 2rem;
    border: 0.1rem white solid;
}

.box div:nth-of-type(even)
{
    border-radius: 50%;
}

@keyframes backgroundOfPageAnimation {
    /*should be a snowflake background*/
    0% {
        transform: scale(0) rotate(180deg);
    }
    50%
    {
        transform: scale(1)  rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(360deg);
        top: -10%;
    }
}


.backGroundOfPageMain
{
    z-index: -1;
}

/* page it self and can be used for other elements of the page centering in a element would be an example*/

.flex-center-column {
    /*column*/
    display: flex;
    flex-direction: column;

    /*center*/
    justify-content: center;
    align-items: center;
}

.flex-row {
    /*column*/
    display: flex;
    flex-direction: row;
    /*center*/
    justify-content: start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .skillsBarHeading label
    {
        width: 20%;

        display: flex;

        text-align: center;
        align-items: center;
        align-content: center;

        writing-mode:vertical-rl;
        text-orientation: upright;

        font-size: 1.5rem;
    
    }
  }